@using System.Web
@model List<BusinessLayer.DTO.GetStockMarketCapDTO>
@{
    ViewData["Title"] = "MarketCap";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string ticker = ViewBag.ticker;
    string market = ViewBag.market;
    string axisy = ViewBag.axisy;
    string name = ViewBag.name;

    Func<BusinessLayer.DTO.GetStockMarketCapDTO, object> selector = null;

    switch (axisy)
    {
        case "market_value":
            selector = stock => stock.market_value;
            break;
        case "trading_volume":
            selector = stock => stock.trading_volume;
            break;
        case "transaction_amount":
            selector = stock => stock.transaction_amount;
            break;
        case "listed_stocks":
            selector = stock => stock.listed_stocks;
            break;

    }
    var dataPoints = Model.Select(selector).ToList();
    var dataJson = Newtonsoft.Json.JsonConvert.SerializeObject(dataPoints);
}

<div class="d-flex justify-content-between align-items-center my-4 w-100">
    <div class="flex-grow-1 text-center">
        <h1 class="mb-0">@ViewBag.name (@ViewBag.ticker)@ViewBag.Query</h1>
    </div>
    <button id="myBtn" class="btn btn-primary">포트폴리오 추가</button>
</div>


@Html.Partial("_ModalDialog")


<script>
    $(document).ready(function () {
        $("#myBtn").click(function () {
            $("#myModal").modal('show');
        });

        $(".close").click(function () {
            $("#myModal").modal('hide');
        });
    });

    $(window).click(function (event) {
        if (event.target == $("#myModal")[0]) {
            $("#myModal").modal('hide');
        }
    });
    function submitPortfolio() {
        var quantity = $('#quantity').val();
        var price = $('#price').val();
        var ticker = '@ticker';
        var market = '@market';

        $.ajax({
            type: "POST",
            url: "/portfolio/add",
            data: { quantity: quantity, price: price, ticker: ticker, market: market },
            success: function (response) {
                if (response.success) {
                    alert('포트폴리오에 추가되었습니다.');
                    $('#myModal').modal('hide');
                } else {
                    alert(response.message || '에러가 발생했습니다.');
                }
            },
            error: function () {
                alert('통신 중 에러가 발생했습니다.');
            }
        });
    }
</script>






<ul class="nav nav-tabs justify-content-center mb-4">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("OHLCV", "Kospi", new { ticker = ticker, axisy = "closing_price" })">OHLCV</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Fundamental", "Kospi", new { ticker = ticker, axisy = "bps" })">Fundamental</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("MarketTrx", "Kospi", new { ticker = ticker, axisy = "institution" })">Market Transactions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("SectorTrx", "Kospi", new { ticker = ticker, axisy = "financial_investment" })">Sector Transactions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("MarketCap", "Kospi", new { ticker = ticker, axisy = "market_value" })">Market Capitalization</a>
    </li>
</ul>






<div class="centered-container">
    <canvas id="chart" width="1600" height="900"></canvas>
</div>
<script charset="UTF-8">
    document.addEventListener('DOMContentLoaded', function () {
        const tradeDates = @Html.Raw(Json.Serialize(Model.Select(m => m.trade_date.ToShortDateString())));
        const y = @Html.Raw(dataJson);
        const title = '@axisy';
        const dataSets = [{
            data: y,
            label: title,
            borderColor: "#3e95cd",
            fill: false,
            lineTension: 0.1
        }];
        createLineChart('chart', tradeDates, dataSets, 'World population per region (in millions)');
    });
</script>






<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("MarketCap", "Kospi", new { ticker = ticker, axisy = "market_value" })">시가총액</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("MarketCap", "Kospi", new { ticker = ticker, axisy = "trading_volume" })">거래량</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("MarketCap", "Kospi", new { ticker = ticker, axisy = "transaction_amount" })">거래대금</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("MarketCap", "Kospi", new { ticker = ticker, axisy = "listed_stocks" })">상장주식수</a>
    </li>
</ul>






<div class="scrollable-table">
    <table class="table table-hover">
        <thead class="table-light">
            <tr>
                <th>시가총액</th>
                <th>거래량</th>
                <th>거래대금</th>
                <th>상장주식수</th>
                <th>거래일</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stock in Model)
            {
                <tr>
                    <td>\@stock.market_value.ToString("N0")</td>
                    <td>@stock.trading_volume.ToString("N0")</td>
                    <td>\@stock.transaction_amount.ToString("N0")</td>
                    <td>@stock.listed_stocks.ToString("N0")</td>
                    <td>@stock.trade_date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>